body {
    background-color:moccasin;
}


#contenedorImagen {
    display: fixed;
    align-items: center;
    flex-direction: column;
    padding: 2%;

}

#buscar {
    display: flex;
    flex-direction: column;
    align-items:top;
    padding: 2%;
}